.cell{
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell_visible {
  background-color: green;
}

.cell_hidden {
  background-color: black;
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}