.cell{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.live{
  background-color: green;
}

.die{
  background-color: gray;
}
